<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter Archive Deleter</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
      <h1>Twitter Archive Deleter</h1>
      <div id="loading-container">
        <p><i class="fas fa-spinner fa-spin"></i> Checking app status...</p>
      </div>
      
      <div id="config-container" class="dn">
        <h2>Verifying config...</h2>
        <p id="verify-archive"><i class="fas fa-spinner fa-spin"></i> Verifying Twitter archive...</p>
        <p id="verify-credentials"><i class="fas fa-spinner fa-spin"></i> Verifying Twitter credentials...</p>
      </div>

      <div id="ready-container" class="dn">
        <div id="first-run-instructions" class="dn">
          <h2>Setup Complete!</h2>
          <p id="first-run-estimate"></p>
          <p>Once you press go, feel free to close this page. It'll continue running on its own in the background.</p>
        </div>

        <div id="resume-instructions" class="dn">
          <h2>Your delete was interrupted!</h2>
          <p>Something happened to interrupt your delete before it was finished. Sorry :(</p>
          <p id="resume-estimate"></p>
          <p>Once you press go, feel free to close this page. It'll continue running on its own in the background.</p>
        </div>

        <div id="go-container">
          <h2>Ready?</h2>
          <button id="go-button">
            Delete My Tweets 
          </button>
        </div>
      </div>

      <div id="running-container" class="dn">
        <h2>THERE THEY GO!</h2>
        <p>The deleter is running! If you want to watch it running or check on its progress:</p>
        <ol>
          <li>Come back to this page</li>
          <li>Click the Glitch fish in the upper right corner and click View Source. It'll bring you back to the file browser where you followed the setup instructions.</li>
          <li>Above the file browser, click Status. It'll open a little panel at the bottom of the screen.</li>
          <li>If the deleter is still running, you'll see tweets streaming by as they are deleted. If it's finished, you should see a message saying it's done.</li>
        </ol>
      </div>

      <div id="finished-container" class="dn">
        <h2>YOU DID IT!</h2>
        <p>The deleter is done deleting your tweets. Go check out that beautiful clean timeline!</p>
      </div>      

    </div>

    <canvas id="confetti-container"></canvas>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

    <script src="/js/vendor/confetti.min.js"></script>
    <script src="/js/vendor/moment.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="/js/client.js"></script>
  </body>
</html>
