<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Twitter Archive Deleter
    </title>
    <meta content="A cool thing made with Glitch" name="description">
    <link href="https://glitch.com/edit/favicon-app.ico" id="favicon" rel="icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport"><!-- import the webpage's stylesheet -->
    <link href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet"><!-- import the webpage's client-side javascript file -->

    <script defer src="/js/client.js">
    </script>
  </head>
  <body>
    <h1>
      Twitter Archive Deleter
    </h1>
    <p><a href="/">Go back home</a></p>
    <h2>
      Instructions - Registering a developer account
    </h2>
    <p>
      Before you can give this app access to delete your tweets, you need to register with Twitter as a developer. It's a pretty striaghtforward form, but I've laid out each step for you here:
    </p>
    <ol>
      <li>
        <p>
          Log in to Twitter
        </p>
      </li>
      <li>
        <p>
          Go to <a href="https://developer.twitter.com" target="_blank">https://developer.twitter.com</a>
        </p>
      </li>
      <li>
        <p>
          Click Apply in the main nav
        </p><img class="instructions-img" src="/img/credentials-1.png">
      </li>
      <li>
        <p>
          Click the "Apply for a developer account" button
        </p>
        <p class="i">
          Basically, Twitter wants you to prove you're a real person and explain to them what you're doing with the API. I'm going to make this as easy as possible for you and give you text to copy/paste right in
        </p><img class="instructions-img" src="/img/credentials-2.png">
      </li>
      <li>
        <p>
          If you don't have a verified phone number on your account, Twitter will ask you to add one
        </p>
        <p class="i">
          Twitter requires developers to have a verified phone number, ostensibly to have a point of contact in case of abuse. If you're comfortable giving Twitter your phone number, go for it. If not, there are a number of services that let you generate temporary phone numbers, although I can't vouch for any of them and it might be risky to permanently tie your account to a burner number out of your control. Ultimately it's up to you. Your best bet is probably to add your real phone number and then if you want, remove it from your account when you're done using this app.
        </p><img class="instructions-img" src="/img/credentials-phone1.png"> <img class="instructions-img" src="/img/credentials-phone2.png">
      </li>
      <li>
        <p>
          Click "Continue" to associate your current username.
        </p><img class="instructions-img" src="/img/credentials-3.png">
      </li>
      <li>
        <p>
          Select "I am requesting access for my own personal use."
        </p><img class="instructions-img" src="/img/credentials-4.png">
        <p>
          In the "Account name" box, fill in your Twitter username.
        </p><img class="instructions-img" src="/img/credentials-5.png">
        <p>
          Select your country.
        </p><img class="instructions-img" src="/img/credentials-6.png">
      </li>
      <li>
        <p>
          Select "Other" as your use case.
        </p><img class="instructions-img" src="/img/credentials-7.png">
        <p>
          In the "Describe in your own words what you're building" box, feel free to enter your own explanation or copy/paste this text that already meets their minimum text requirement:
        </p>
        <blockquote>
          1. I'm using Twitter's API to programmatically delete my own Twitter archive.<br>
          2. I do not plan to analyze Tweets, Twitter users, or their content.<br>
          3. I will not be Tweeting, Retweeting, or liking content.<br>
          4. I will not be displaying any data, I'm just using the API for programmatic access to my own tweets.
        </blockquote><img class="instructions-img" src="/img/credentials-8.png">
        <p>
          Choose "No" for the question about information being available to government entities.
        </p><img class="instructions-img" src="/img/credentials-9.png">
      </li>
      <li>
        <p>
          Scroll through and accept the terms and conditions. If you feel like reading them, they're actually pretty plain English.
        </p><img class="instructions-img" src="/img/credentials-10.png">
      </li>
      <li>
        <p>
          Twitter will now send you a verification email to complete your application
        </p><img class="instructions-img" src="/img/credentials-11.png">
        <p>
          When you recieve it, click the "Confirm your email" button
        </p><img class="instructions-img" src="/img/credentials-12.png">
        <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
        <script src="https://button.glitch.me/button.js">
        </script>
      </li><!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    </ol>
  </body>
</html>
