<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter Archive Deleter</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/js/client.js" defer></script>
  </head>
  <body>
    <h1>Twitter Archive Deleter</h1>

    <h2>Why?</h2>
    <p>Twitter is our public stream of consciousness – a place to dump half-baked ideas, jokes, and commentary. It can feel like, once a Tweet falls off your followers' timelines and people stop interacting with it, it's effectively gone. Sure, it lives on your profile, but who scrolls back through thousands of years old, out of context tweets?</p>
    <p>Turns out, a lot of people. Anytime someone is thrust in the public eye, Internet sleuths and milkshake duck speedrunners race through their archives looking for a bad tweet to put on blast.</p>
    <p>The world changes. People’s beliefs and points of view change. Importantly, Twitter itself has changed, from a place for microblogging status updates to the place where we have The Discourse. The platform makes it trivial for bad actors to elevate your old tweets, easy for their followers to mistake them for new ones, and impossible for you to provide meaningful context. </p>
    <p>With fascism and its mobs on the rise, there’s also an increasingly real need for people to stay anonymous. Often, all one needs to doxx you are a few names, locations, and geotagged tweets. Even if you’ve changed your handle to an alias and scrubbed everything identifying you could find, they’re frighteningly good at following breadcrumbs.</p>
    <p></p>

    <h2>Instructions</h2>
    <ol>
      <li class="mb3">Remix this project on Glitch to get your own editable copy of it</li>
      <li class="mb3">Download your Twitter archive and put the <code>tweets.csv</code> file in this project's <code>/data</code> folder<br /><a href="/archive-instructions">Detailed Instructions</a></li>
      <li class="mb3">Make a Twitter app with write access and add the credentials to this project's <code>.env</code> file<br /><a href="/credentials-instructions">Detailed Instructions</a> (it's not as hard as it sounds I promise)</li>
      <li class="">Press the huge Delete My Tweets button below</li>
    </ol>
    
    <h2>Ready?</h2>
    <p id="verify-archive"><i class="fas fa-spinner fa-spin"></i> Verifying Twitter archive...</p>
    <p id="verify-credentials"><i class="fas fa-spinner fa-spin"></i> Verifying Twitter credentials...</p>

    <button id="go-button">
      Delete My Tweets 
    </button>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
