/* Glitch default styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Benton Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #1da1f2;
}

.bold {
  font-weight: bold;
}

p,
li {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

/* Custom styles */
.instructions-img {
  max-width: 600px;
  height: auto;
  border: 2px solid #373fff;
}

#go-button {
  position: relative;
  font-size: 24px;
  padding: 30px 50px;
  background-color: #1da1f2;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #1576b2;
  box-shadow: 0 9px 0 #1576b2, 0 0px 4px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#go-button:hover,
#go-button:focus {
  outline: none;
  top: -2px;
  box-shadow: 0 11px 0 #1576b2, 0 0px 4px 1px rgba(0, 0, 0, 0.3);
}

#go-button:active {
  outline: none;
  top: 2px;
  box-shadow: 0 7px 0 #1576b2, 0 0px 4px 1px rgba(0, 0, 0, 0.3);
}
